@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    visibility: hidden;
    width: 8px;
  }
  .scrollbar-visible:hover::-webkit-scrollbar {
    visibility: visible;
    width: 8px;
  }
  .scrollbar-visible:hover::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  .scrollbar-visible:hover::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /*color: var(--foreground);*/
  /*background: var(--background);*/
  font-family: Arial, Helvetica, sans-serif;
}

/* Toàn bộ thanh cuộn */
::-webkit-scrollbar {
  width: 8px; /* Độ rộng thanh cuộn */
  height: 8px; /* Độ cao nếu là thanh cuộn ngang */
}

/* Track của thanh cuộn (nền) */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Màu nền track */
  border-radius: 4px; /* Bo góc */
}

/* Thumb (phần kéo) */
::-webkit-scrollbar-thumb {
  background: #888; /* Màu thanh kéo */
  border-radius: 4px; /* Bo góc */
}

/* Thumb khi hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu khi hover */
}
